*
{
    padding: 0px;
    margin: 0px;
}

header
{
    width: 100%;
    background-color: black;
    padding: 20px;
    height: 30px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================================================================================== */

main
{
    height: 100%;
    padding: 15px;
    display: flex;
    gap: 20px;

    aside
    {
        width: 15%;
        height: 100%;
        border-radius: 10px;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: space-between  ;

        ul
        {
            color: white;
            list-style: none;  
            padding-left: 0px;
            text-align: center;
            padding-top: 11%;
            li
            {
                padding-bottom: 20px;
            }
        }

        button
        {
            width: 90px;
            height: 40px;
        }
    }

    .div_main
    {
        width: 70%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10%;

        .div_1
        {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            div
            {
                border-top: black 5px solid ;
                border-radius: 10px;
                width: 20%;
                height: 15%;
                text-align: center;
                padding: 30px;
                box-shadow: 0px 0px 4px;
            }
        }

        .div_2
        {
            padding-left: 7%;
            
            h2
            {
                padding-bottom: 3%;
            }
        }
    }
}